.message {
    display: flex;
    width: 50%;
    background-color: #ded6d6;
    align-items: flex-end;
    margin: 2px;
    padding: 4px;
}

.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 4px;
}

.text {
    margin: 2px;
    display: table-cell;
}

.textMes {
    border-radius: 5px 5px 5px 0;
    background-color: gold;
    padding: 10px;
}

.time {
    padding-left: 20px;
    display: table-cell;
    vertical-align: bottom;
}

.textTime {
    display: table;
}

.circle {
    width: 30px;
    height: 30px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 30px, gold 0);
}
