.message {
    display: flex;
    background-color: #ded6d6;
}

.img {
    width: 70px;
    height: 70px;
}

.text {
    display: flex;
}

.name {
    background-color: coral;
    display: flex;
}

.textMes {
    background-color: gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.time {
    background-color: aquamarine;
    text-align: end;
    padding-left: 20px;
}

.textTime {
    display: flex;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: right bottom;
    background-color: mistyrose;

    background-image: radial-gradient(black 0%, black 70%, transparent 70%);
}