.someClass {
    display: flex;
    justify-content: space-around;
}
.name{
    padding: 3px;
}
.prioriti{
    padding: 3px;
    color: #24563b;
}
.display{
    display: flex;
    width: 350px;
    height: 150px;
    background-color: #95b9a7;
    flex-direction: column;
}
